In [112]:
import pandas as pd
raw = pd.pandas.read_csv('../20181220_raw_geo.csv',sep=",",low_memory=False)
one_row = raw.loc[[1]]
one_row_copy = one_row.copy()

In [113]:
#one_row_copy[one_row_copy['published'] > '2014-01-01']
type(one_row_copy)
one_row_copy

,published,sold_date,object_type,living_area,rooms,floor,rent,list_price,sold_price,sold_price_source,...,plot_area,published_week,published_month,sold_week,sold_month,sqm_list_price,sqm_sold_price,sqm_rent_price,area_from_geo,min_distance_to_metro
1,2016-09-30,2017-02-03,Lagenhet,49.0,2.0,0.0,3262.0,3495000.0,3360000,admin,...,NaN,2016-09-26,2016-09-01,2017-01-30,2017-02-01,71326.5306,68571.4286,66.5714,Hammarbyhamnen,981.985739

In [114]:
one_row_copy['published_dt'] = pd.to_datetime(one_row_copy['published'])
one_row_copy['sold_dt'] = pd.to_datetime(one_row_copy['sold_date'])
one_row_copy['sqm_price_diff'] = one_row_copy['sqm_sold_price'] - one_row_copy['sqm_list_price']
one_row_copy['cnt'] = 1
one_row_copy = one_row_copy[one_row_copy['published'] >'2016-09-01']
bins = [ 15.  ,  39.  ,  51.5 ,  64.  ,  80.88, 337.  ]
#pd.cut(one_row_copy['living_area'], bins=bins, labels=False, include_lowest=True)

#one_row['sqm_bin'], bins = pd.qcut(one_row['living_area'], 5,retbins=True) # generate sqm buckets
#one_row['uuid'] = [uuid.uuid4() for _ in range(len(one_row))]

In [136]:
pd.cut(one_row_copy['living_area'], bins=bins, labels=False, include_lowest=True)
#print(type(pd.cut(one_row_copy['living_area'], bins=bins, labels=False, include_lowest=True)))

1    1
Name: living_area, dtype: int64

In [116]:
one_row_copy['living_area']

1    49.0
Name: living_area, dtype: float64

In [100]:
bins

[15.0, 39.0, 51.5, 64.0, 80.88, 337.0]