In [2]:
import pandas as pd
#raw = pd.pandas.read_csv('20170101_raw.csv',sep=";")
#raw = pd.pandas.read_csv('20180608_raw_geo.csv',sep=",",low_memory=False)
#raw = pd.pandas.read_csv('20180815_raw_geo.csv',sep=",",low_memory=False)
raw = pd.pandas.read_csv('../20181114_raw_geo.csv',sep=",",low_memory=False)
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
from scipy import stats
print("imported " + str(len(raw)) + " rows")
raw.columns.tolist()

imported 68204 rows

['booli_id',
 'published',
 'sold_date',
 'object_type',
 'living_area',
 'rooms',
 'floor',
 'rent',
 'list_price',
 'sold_price',
 'sold_price_source',
 'construction_year',
 'address_street_address',
 'region_municipality_name',
 'region_county_name',
 'url',
 'apartment_number',
 'distance_ocean',
 'source_name',
 'source_url',
 'source_type',
 'source_id',
 'position_longitude',
 'position_latitude',
 'additional_area',
 'location_named_areas',
 'plot_area',
 'min_distance_to_metro',
 'area_from_geo']

In [49]:
plain = raw.copy(deep=True)
from datetime import datetime

datetime_object = datetime.strptime('2016-11-12 14:01:53',"%Y-%m-%d %H:%M:%S")

In [102]:
#datetime.apply(strptime(plain['published'],"%Y-%m-%d %H:%M:%S"))
published_date_time = plain.apply(lambda x: datetime.strptime(x['published'],"%Y-%m-%d %H:%M:%S"), axis=1)
plain['published_date_time'] = published_date_time
plain = plain.set_index(['published_date_time'])
plain = plain.sort_index()

In [105]:
#plain['published']
plain['floor'].rolling('2d').sum()
#plain['published_date_time']

published_date_time
2007-11-26 00:10:43      NaN
2014-02-01 01:05:03      4.0
2014-03-20 14:29:02      4.0
2014-04-25 20:38:23      3.0
2014-05-25 13:47:00      0.5
2014-08-27 16:31:56      6.0
2014-08-29 16:52:50      5.0
2014-09-11 15:10:04      4.0
2014-09-19 14:25:01      7.0
2014-09-29 23:05:48      2.0
2014-10-02 18:18:14      1.0
2014-10-03 16:42:26      6.0
2014-10-07 18:02:36      4.0
2014-10-09 14:27:38      6.0
2014-10-13 20:44:09      1.0
2014-10-15 20:38:20      6.0
2014-10-16 02:38:10      5.0
2014-10-16 17:35:48      6.0
2014-10-17 17:43:03      6.0
2014-10-20 13:55:15      4.0
2014-10-21 10:37:58      9.0
2014-10-23 13:33:47      4.0
2014-10-23 13:33:58      7.0
2014-10-24 13:44:29     13.0
2014-10-24 16:32:35     19.0
2014-10-27 19:32:45      NaN
2014-10-29 09:56:20      NaN
2014-10-29 16:37:22     -1.0
2014-10-29 19:30:57     -1.0
2014-10-30 13:34:49      1.0
                       ...
2018-11-02 19:35:45    131.5
2018-11-02 19:39:19    133.5
2018-11-02 19:51:31    134.5
2018-11-02 20:03:51    135.5
2018-11-02 20:08:37    138.5
2018-11-02 20:16:41    139.5
2018-11-02 20:19:22    141.5
2018-11-02 20:28:40    143.5
2018-11-02 20:30:01    144.0
2018-11-02 21:34:55    146.0
2018-11-02 21:55:19    147.0
2018-11-03 01:44:28    148.0
2018-11-03 01:57:33    150.0
2018-11-03 07:47:31    157.0
2018-11-03 09:00:44    152.0
2018-11-03 11:09:50    147.0
2018-11-03 14:28:31    139.0
2018-11-04 13:59:38    100.0
2018-11-04 22:24:26     20.0
2018-11-04 22:48:34     26.0
2018-11-05 14:07:08     17.0
2018-11-05 15:52:25     18.0
2018-11-05 18:42:51     18.0
2018-11-06 01:06:54     20.0
2018-11-06 04:28:31     22.0
2018-11-07 11:30:12     14.0
2018-11-08 16:57:32      8.0
2018-11-10 03:00:54      7.0
2018-11-10 13:39:25      7.0
2018-11-12 16:29:20      3.0
Name: floor, Length: 68204, dtype: float64

In [84]:
type(ye)

NoneType